{{#partial "content"}}
    <div class="container mt-4">
        <div class="alert alert-success" role="alert">
            <h4 class="text-center" id="success">You have successfully added your squad, Congrats! <a href="/">Back homepage</a></h4>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}